.searchBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field {
    font-size: 16px;
    border: 1px solid rgb(74, 119, 201);
    border-radius: 8px;
    padding: 16px;
    width: 305px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.find {
    color: rgb(34, 72, 143);
    font-size: 36px;
    font-weight: bold;
}